a,
a:hover,
a:focus {
  text-decoration: none !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Menustyle {
  text-align: left;
  font-weight: bold;
}

.product-list-element h5 {
  margin-bottom: 0px;
  padding: 10px 15px;
  text-align: left;
  background: #592322;
  color: #fff;
  font-weight: 600;
}
.tab-main-element {
  margin-top: 60px;
}
.product-list-element ul.list-group {
  padding: 0px;
}
.product-list-element ul li {
  position: relative;
  padding-left: 60px;
  display: flex;
  align-items: center;
}
.product-list-element ul li button {
  margin-left: auto;
  width: 90px;
  padding: 5px;
}
.product-list-element ul li img {
  position: absolute;
  left: 10px;
}
.product-list-element ul li p {
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}
.product-list-element ul li span {
  text-align: left;
  font-weight: 600;
  color: #555;
}
/* sidebr element css */
.sidebar_element {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #dcd6d6;
  border-radius: 5px;
  position: relative;
  flex-direction: column;
}

.total_product_element {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.total_product_element ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  padding: 0px 20px;
}
.total_product_element ul li {
  display: flex;
  align-content: center;
  font-size: 14px;
  font-weight: 600;
}
.total_product_element ul li span.price {
  margin-left: auto;
  font-size: 12px;
}
.total_product_element ul li textarea {
  width: 100%;
  padding: 10px;
  height: 50px;
}
.total_product_element ul li button {
  width: 100%;
  margin: 10px 0px;
  font-size: 18px;
  font-weight: 600;
}

.add_product {
  position: relative;
}
.add_product input {
  text-align: center;
  padding: 0px 30px;
}
.add_product button {
  position: absolute;
  top: 0px;
}
.add_product .add_btn {
  right: 0px;
}
.sidebar_element ul {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
}
.sidebar_element ul li {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.remove_item {
  font-size: 13px;
  color: #63a14f;
}
.remove_item:hover,
.remove_item:focus {
  color: #63a14f;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
